@page
@using WebApplication3.Pages.Components
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>

<div id="TestLoad">
    @await Component.InvokeAsync("PriorityList", new { maxPriority = "www", isDone = "sssss" })
</div>
<button id="reload">点我加载</button>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">   
    $('#reload').click(function () {
        var url = '/api/Todo';
        var postdata = { t1: "bingo", t2: "man" }
        $("#TestLoad").load(url, postdata);
    });
</script>